
@forward '../node_modules/bootstrap/scss/functions';
@forward '../node_modules/bootstrap/scss/variables';
@forward '../node_modules/bootstrap/scss/mixins';
@forward '../node_modules/bootstrap/scss/bootstrap';
@forward "../node_modules/bootstrap/scss/grid";
@forward "../node_modules/bootstrap/scss/navbar";

$navbar-padding-y: $spacer * 0.5;